.work-sans-font {
     font-family: "Work Sans", sans-serif;
     font-weight: 400, 600, 700;
}

:root {
     --White: hsl(0, 100%, 100%);
     --Purple-100: hsl(275, 100%, 97%);
     --Purple-600: hsl(292, 16%, 49%);
     --Purple-950: hsl(292, 42%, 14%);
}

html,
body {
     font-family: "Work Sans", sans-serif;
     font-size: 16px;
     background-color: var(--Purple-100);
     height: 100%;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.main-content-box {
     background-color: var(--White);
     padding: 0px 30px;
     border-radius: 15px;
     align-items: stretch;
}

.faq-header-section {
     display: flex;
     align-items: baseline;
     margin: 0;
}

.main-header {
     font-size: 50px;
     padding-left: 20px;
}

.all-questions {
     height: 40%;
     display: flex;
     justify-content: space-between;
     flex-direction: column;
}

.question-box {
     display: flex;
     width: 100%;
     justify-content: space-between;
}

.question {
     font-weight: 600;
}

.question:hover {
     color: violet;
}

.answer {
     display: none;
     color: var(--Purple-600);
     line-height: 1.5rem;
     width: 100%;
}

.answer.show {
     display: block;
     visibility: visible;
     width: 100%;
}

.minus-sign {
     display: none;
}

@media (max-width: 600px) {
     body {
          background-image: url("images/background-pattern-mobile.svg");
          background-repeat: no-repeat;
          background-size: 100%;
          margin: 0;
     }

     .main-content-box {
          max-width: 60vw;
          min-height: 70vh;
     }
}

@media (min-width: 600px) {
     body {
          background-image: url("images/background-pattern-desktop.svg");
          background-repeat: no-repeat;
          background-size: 100%;
          margin: 0;
     }

     .main-content-box {
          max-width: 35vw;
          min-height: 70vh;
     }
}
